.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 100vh;
  background-color: whitesmoke;
}

.weather__title {
  color: darkslategray;
  text-align: center;
}

.weather__input {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.weather-box {
  background-color: lightyellow;
  border-radius: 10px;
  border: 2px solid darkblue;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  align-items: center;
  width: 350px;
}

.weather-box__result {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: stretch;
}

.weather-box__city {
  font-size: 32px;
  color: steelblue;
  text-align: center;
  font-weight: bold;
}

.weather-box__icon {
  display: block;
  width: 100px;
}

.weather-box__description {
  font-size: 24px;
  width: 100%;
  justify-self: center;
}

.weather-box__table {
  border-spacing: 50px 10px;
}

.weather-box__table th,
.weather-box__table td {
  text-align: left;
}

.weather-box__table--cold {
  color: blue;
}

.weather-box__table--hot {
  color: red;
}
